body {
    font-family: Arial, sans-serif;
    background-color: azure;
}
.main-content{
    max-width: 700px;
    margin: 0 auto;
    padding: 20px;
}
header{
    text-align: center;
}
section{
    text-align: center;
}
.image {
    width: 700px;
    height: auto;
    border-radius: 25px;
}
.footer{
    text-align: center;
    padding: 10px 0;
    border-top: 1px solid #000000;
}